body {
	font-family: "Plus Jakarta Sans", sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.container {
	flex: 1;
}

.navbar {
	height: 5rem;
	background-color: white;
}
.fa-compass {
	color: #fe424d;
	font-size: 2rem;
}
.nav-link {
	color: #222222 !important;
}
.listing-link {
	text-decoration: none;
}
/* footer */
.f-info-links a {
	text-decoration: none;
	color: #222222;
	margin-right: 1rem;
}
.f-info-links a:hover {
	text-decoration: underline;
}
.f-info-links,
.f-info-socials,
.f-info-brand {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.f-info-socials i {
	font-size: 1.2rem;
	margin-right: 1rem;
}
.f-info {
	height: 8rem;
	display: flex;
	background-color: #ebebeb;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	/* align-items: space-evenly; */
}

/* card */
.listing-card {
	border: none;
	padding: 1rem;
	margin-bottom: 2rem;
}
.card-body {
	padding: 0;
}
.card-text p {
	font-size: 400;
}
.card-img-top {
	border-radius: 1rem;
	width: 100%;
	object-fit: cover;
}

/*card efect */
.card-img-overlay {
	opacity: 0;
}
.card-img-overlay:hover {
	opacity: 0.2;
	background-color: white;
}
.add-btn {
	background-color: #fe424d;
	border: none;
}
.edit-btn {
	background-color: #fe424d;
	border: none;
}

/*show page*/
.show-img {
	height: 30vh;
}

.btns {
	display: flex;
}
.show-card {
	padding-left: 0;
	padding-right: 0;
}
#map {
	height: 300px;
	width: 100vh;
}
